<head>
	<%= stylesheet_link_tag    "welcome", :media => "all" %>
</head>
<div id="templatemo_wrapper">
    <div id="templatemo_main">
    	<div id="home" class="content_top"></div>
    	<div class="content_box">
        <div class="content_title content_home"></div>
        <h2>欢迎 使用Wando 丝光棉企业生产管理系统 </h2>
        	<div class="image_wrapper image_fl"><img src="app/images/homes/wando.png" alt="Image" height="110" /></div>
			<div class="cleaner h30"></div>
         <div class="ckol_w310 float_l">
             <h3> 更新内容</h3>
             <ul class="tmo_list">
                <li></li>
             </ul>
         </div>
   			<div class="col_w310 float_r">
         	</div>   
                
       <div class="cleaner"></div>
       </div>
  </div> 
</body>
